@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
    @*<link rel="stylesheet" type="text/css" href="http://skfox.com/jqExamples/jq14_jqui172_find_bug/jq132/css/ui-lightness/jquery-ui-1.7.2.custom.css" />*@
<script language="JavaScript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>

<script language="JavaScript" type="text/javascript">

    $(function () {
        $("ul.droptrue").sortable({
            connectWith: 'ul',
            opacity: 0.6,
            update: updatePostOrder
        });
//        $('ul.droptrue').bind('mousedown', function (e) {
//            e.stopPropagation();
//        });

        $("#sortable1, #sortable2, #sortable3").disableSelection();
        $("#sortable1, #sortable2, #sortable3").css('minHeight', $("#sortable1").height() + "px");
        updatePostOrder();
    });

    function updatePostOrder() {
        var arr = [];
        var arr2 = [];
        $("#sortable1 li").each(function () {
            arr.push($(this).attr('id'));
        });
        $('#postOrder').val(arr.join(','));

        $("#sortable3 li").each(function () {
            arr2.push($(this).attr('id'));
        });
        $('#postOrder2').val(arr2.join(','));
    }
  
</script>
<style type="text/css">
.listBlock {float: left;}
#sortable1, #sortable2,#sortable3 { list-style-type: none; margin: 0; padding: 0; margin-right: 100px; background: #eee; padding: 5px; width: 300px; border: 1px solid black;}
#sortable1 li, #sortable2 li , #sortable3 li{ cursor: move; margin: 5px; padding: 5px; font-size: 1.2em; width: 250px;  background: none; background-color: white;}
</style>
</head>
<body>
    <div>
        <div class="text">
				<h2>Newsletter Printer</h2>
				<hr />
					<div class="listBlock">
						<h2>Available to print</h2>
						<ul id="sortable1" class='droptrue'>
							<li class="ui-state-default" id="article_1">Article #1</li>
							<li class="ui-state-default" id="article_2">Article #2</li>
							<li class="ui-state-default" id="article_3">Article #3</li>
						</ul>
					</div>
					<div class="listBlock">			
						<h2>Group 1</h2>
						<ul id="sortable2" class='droptrue'>
						</ul>
					</div>
                    <div class="listBlock">			
						<h2>Group 2</h2>
						<ul id="sortable3" class='droptrue'>
						</ul>
					</div>
					<br clear="both" />
					<p>Which articles, in which order?: <br />
                     <input type="text" id="postOrder" name="postOrder" value="" size="30"><br /> 
                     <input type="text" id="postOrder2" name="postOrder" value="" size="30"><br /> 
                     *Normally this field would be hidden</p>
      </div>
    </div>
</body>
</html>
